		<h1>
			Ziua {{dayNo}} - <small><small>{{timestamp | date:'EEEE dd MMMM yyyy'}}</small> </small> 
			<a class="next-day" href="#/day/{{dayNo + 1}}" ng-show="showNext">ziua urmatoare</a>
		</h1>
		<div class="row-fluid">
			
			<div class="span4">
				<ul class="unstyled">
					<li ng-repeat="table in dayProgramTables">
						<h5>{{dayLocations[$index].p}}</h5>

						<table>
							<tr ng-repeat="row in table.tbody.tr">
								<td>{{row.td[0].p}} </td>
								<td>
									<a href="" ng-click="ShowTrailer(row, $index)">
										{{row.td[1].a.content}}
									</a>
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<div class="span8 article" ng-class="{true: 'show', false: 'hide'}[showModal]">
				
				<div class="small-loader" ng-class="{true: 'show', false: 'hide'}[showLoader]"></div>

				<div id="sticker">

					<h3>{{model.title}} <small><a href="" ng-click="AddFavorite(bigModel)">Adauga la 'Favorite'</a></small></h3>
					
					<div class="video" ng-class="{true: 'show', false: 'hide'}[showVideo]">
						<iframe wmode="transparent" width="640" height="360" src="http://www.youtube.com/embed/{{model.video.content[0]}}" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="details">
						<p><b>{{movieData[0].div[0].p}}</b> {{movieData[0].div[1].p}}</p>
						<p><b>{{movieData[1].div[0].p}}</b> {{movieData[1].div[1].p}}</p>
						<p><b>{{movieData[2].div[0].p}}</b> {{movieData[2].div[1].p}}</p>
						<p><b>{{movieData[3].div[0].p}}</b> {{movieData[3].div[1].p}}</p>
						<p><b>{{movieData[4].div[0].p}}</b> {{movieData[4].div[1].p.content}}</p>
					</div>
				</div>
			</div>
		</div>
		



