/*
 * Main Sass
 */

@import "compass/css3";

@import "variables";
@import "utils";

/* == General == */
.panel {
	border: 1px solid #ccc;
	padding: 10px;
	width: 50%;

	h2 {
		font-size: 22px;
		line-height: normal;
		margin: 0;
		padding: 0;
	}
}


/* Irish Punch */
* {
	@include box-sizing(border-box);
}

input {
	@include box-sizing(content-box);
}

/* Loading */
@include keyframes(loading-spin) {
	100% { @include rotate(359deg); }
}

.small-loader {
	content: '';

	position: fixed;
	left: 50%;
	top: 49%;
	z-index: 10000;

	display: block;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;

	background-color: transparent;

	border-width: 3px;
	border-radius: 50%;
	border-style: solid;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.4) rgba(0,0,0,.4);

	@include animation(loading-spin, 1s, linear, 0, infinite);
}

.loader-overlay {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0, 80%, 1);

	z-index: 9999;
}

.loading-app:before {
	@extend .loader-overlay
}

.loading-app:after {
	@extend .small-loader;
}


.movies {
	min-width: 1800px;
	td {
		vertical-align: top;
	}
}

.modal {
	width: 700px;
	height: 450px;
}

.sticky-wrapper{
	position: relative;
}

#sticker {
	right: 95px;
}

.article {
	position: relative;
	.small-loader {
		position: absolute;
		top: 150px;
		left: 250px;
	}
}

.dropdown-menu {
	li {
		position: relative;

		span.icon-remove-sign {
			position:absolute;
			right: 4px;
			top: 5px;
			color: rgb(238, 187, 187);
			font-size: 18px;
			cursor: pointer;

			&:hover {
				color: rgb(196, 101, 101);
			}
		}
	}
}

.sidebar {
	padding: 30px 0 0;
}